<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<!-- tag for IE -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Baloo+Tammudu" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
</head>
<body>


<div class= "title">

  <h1><strong>Welcome to Cloud Clothing!</strong></h1>
  <h3>We are a brand new platform that enables you make money from renting out cloths you don't use and renting cloths you do use!</h2>
  <h3>Why buy when you can rent the latest fashion and have a endless wardrobe?</h2>
  <h3>Want to stay in up-to-date with our progress with our reach out campaign? Enter your email below!</h3>
</div>


<div class = "middle">
<%= render 'form', campaign: @campaign %>
</div>

<div class = "bottom">
<h2>Follow us on:</h2>
<a href="http://www.facebook.com" class="fa fa-facebook"></a>
<a href="http://www.twitter.com" class="fa fa-twitter"></a>
<a href="http://www.instagram.com" class="fa fa-instagram"></a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>


</html>



