<p id="notice">
<div class = "confirm">
<p>
  <h3>Updates will be sent to:</h3>
  <%= @campaign.to_email %>
</p>
<h2><strong>Thank you for your interest!<br> You have been added to our listing.
<br>
<a href="/" button type="button" class="btn btn-success">Go Back</a></button>
</div></h2></p></strong><%= notice %>





<% link_to 'Edit', edit_campaign_path(@campaign) %> |

